.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: var(--uw-purple);
  text-shadow: 2px solid black;

  color: var(--uw-gold);
}

.message {
  font-size: 3rem;
  color: var(--uw-lightest-gold);
}
