.buttonContainer {
  background-color: var(--uw-dark-purple);
  display: flex;
  flex-flow: row;
  gap: 0.25rem;

  padding: 0;
  font-weight: bold;

  padding: 1rem 0.5rem;
  background: linear-gradient(
    0deg,
    var(--uw-purple),
    var(--uw-light-purple),
    var(--uw-purple)
  );
  border-bottom: 1px solid var(--uw-dark-gold);
}
